@model IEnumerable<showcase.Models.ResumeCategory>

@{
    ViewData["Title"] = "Resumes";
}

@section head {
    <style>
        .card-body p:last-child {
            margin-bottom: 0;
        }
    </style>
}

<h1>Resumes</h1>

@foreach (var category in Model)
{
    <div class="card text-dark my-3">
        <div class="card-header">
            <h2>@category.Name - <a asp-route="Category" asp-route-name="@category.Name.Replace(" ", "")">Latest Resume</a></h2>
        </div>
        <div class="card-body">
            @Html.Raw(category.Description ?? "")
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-xs-12 col-sm-auto">
                    <button class="btn btn-primary" data-toggle="collapse" data-target="#@(category.Name.Replace(" ", ""))Collapse">Show All Versions</button>
                </div>
                <div class="col-xs-12 col-sm">
                    <ul id="@(category.Name.Replace(" ", ""))Collapse" class="collapse mb-0">
                    @foreach (var resume in category.Resumes)
                    {
                        <li><a asp-route="Category" asp-route-name="@category.Name.Replace(" ", "")" asp-route-version="@resume.Version">@category.Name - Version @resume.Version</a></li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}
