@model showcase.Models.Resume
@{
    ViewData["Title"] = "Uploaded";
}

<div class="alert alert-success">
    <h2 class="alert-heading">Successfully Uploaded Resume</h2>
    <hr />
    The resume was successfully uploaded to
    @if (Model.Category != null)
    {
        <a asp-route="Category" asp-route-name="@Model.Category.Name.Replace(" ", "")" asp-route-version="@Model.Version" class="alert-link">@Model.Category.Name - Version @Model.Version</a>
    }
    else if (Model.Company != null)
    {
        <a asp-route="Company" asp-route-name="@Model.Company.Name.Replace(" ", "")" asp-route-version="@Model.Version" class="alert-link">@Model.Company.Name - Version @Model.Version</a>
    }
    else
    {
        <strong>CATEGORY AND COMPANY ARE NULL, PLEASE REPORT THIS.</strong>
    }
</div>