@model List<showcase.Models.BlogEntry>

@{
    ViewData["Title"] = "Index";
}

@section head {
    <style>
        .card-body img {
            max-width: 10rem;
            max-height: 10rem;
        }
    </style>
}

<h1>Blog</h1>

@foreach (BlogEntry entry in Model)
{
    <div class="card text-dark my-3">
        <div class="card-header">
            <h2 class="mt-0">@entry.Title - <a asp-action="Show" asp-route-id="@entry.Id">Full Blog Entry</a></h2>
        </div>
        <div class="card-body clearfix">
            <img asp-for="entry.Image" class="img-thumbnail float-left mr-1 mb-0" />
            @Html.Raw(entry.ShortDescription)
        </div>
        <div class="card-footer clearfix">
            <strong>Tags:</strong> @String.Join(", ", entry.Tags.Select(t => t.Name))
            <span class="float-right">@entry.DateUploaded.Date.ToShortDateString()</span>
        </div>
    </div>
}